/* CSS Document */
@import url(skin.css);
.fl { float:left;}
.fr { float:right;}
.dnn_logo{
	padding:5px;}
.navbg { background:url(images/navbg.jpg) repeat-x; }
.footlins { width:auto; padding:10px 0 10px 0;}
/* ********** Pane Style ************** */
.HeadBannerPane                         { padding:10px; min-width:100px; max-width:400px;}
.BannerPane								{ padding:0; margin:0 auto; width:auto;}
.TopPane								{ padding:5px 0px;}
.TopLeftPane							{ padding:5px 0px; width:49.2%}
.TopRightPane							{ padding:5px 0px;width:49.2%}
.MidLeftPane							{ padding:5px 0; width:32.3%}
.MiddlePane								{ padding:5px 0; width:32.3%; margin:0 0 0 1.5%;}
.MidRightPane							{ padding:5px 0; width:32.3%}
.ContentPane							{ padding:5px 0px; text-align:left; vertical-align:top;}
.LeftPane								{ padding:5px 0px; text-align:left; vertical-align:top; width:32.8%;}
.RightPane							    { padding:5px 0px;text-align:left; vertical-align:top; width:65.6%;}
.LeftPane2								{ padding:5px 0px; text-align:left; vertical-align:top; width:65.6%;}
.RightPane2							    { padding:5px 0px;text-align:left; vertical-align:top; width:32.8%;}
.BoxaPane								{ padding:5px 0px; width:23.8%; margin:0;}
.BoxbPane								{ padding:5px 0px; width:23.8%; margin:0 0 0 1.6%;}
.BoxcPane								{ padding:5px 0px; width:23.8%; margin:0 0 0 1.6%;}
.BoxdPane								{ padding:5px 0px; width:23.8%; margin:0;}
.BottomPane								{ padding:5px 0px; clear:both;}
.LinksRightPane                         { padding:0; width:auto; text-align:right;}
.BotLeftPane							{ padding:5px 0px; width:32.2%; margin:0 0 0 0}
.BotMidPane					    		{ padding:5px 0px;width:32.2%;margin:0 0 0 1.7%;}
.BotRightPane					    	{ padding:5px 0px;width:32.2%}
.FootRightPane						    { padding:5px 0; margin:0}

.DNNEmptyPane							{ display:none;}
.dnn_content{ padding: 10px 0;	}

.copyright { color:#5E5E5E;}
.apmenu { max-width:1000px; margin:0 auto; min-width:760px; width:100%;}
.logoright { width:auto;}
.skinwidth { max-width:1000px; margin:0 auto; width:100%; min-width:760px;}
.toprighthead {white-space:nowrap; display:block;}
.search_bg {
    background: url("images/search_bg.png") no-repeat scroll 0 0 transparent;
    height: 33px;
    margin-left: 5px;
    margin-top: 7px;
    position: relative;
    width: 248px;
}

.dnn_lan { padding:8px 0; text-align:left; }
.dnn_lan a { display:inline;}


/*main menu*/
.apmenu li a span{ background:url(images/menuicon1.gif) no-repeat right center;}
.apmenu li.HasChild a span{ background:url(images/menuicon2.gif) no-repeat right center;}
.apmenu li a:hover { background:url(images/menuhover2.jpg) no-repeat right top;}
.apmenu li:hover { background:url(images/menuhover1.jpg) no-repeat left top;}
.apmenu li.selected { background:url(images/menuhover1.jpg) no-repeat left top;}
.apmenu li li.selected { background:none;}

.apmenu li.current { background:url(images/menuhover1.jpg) no-repeat left top;}
.apmenu li li.current { background:none;}
.apmenu li.current a{ background:url(images/menuhover2.jpg) no-repeat right top; padding:0 15px;}

.apmenu li.selected a{ background:url(images/menuhover2.jpg) no-repeat right top; padding:0 15px;}
.apmenu li a ul li a:hover { background:none;}
.apmenu li li { line-height:33px; display:block;}
.apmenu li li:hover { background:#262626;}
.apmenu li li:hover a { color:#0FAFCF;}
.apmenu li li a:hover{ background:none;}
.apmenu ul{
	display:inline-block;}
	
.apmenu ul{
	margin:0px;
	padding:0px 0px;
	display:block;}

.apmenu ul:after{
	content:".";
	font-size:0px;
	height:0px;
	display:block;
	clear:both;
	visibility:hidden;}

.apmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
	position:relative;
	z-index:904;
}
.apmenu ul.menu {
}

.apmenu li {
    position: relative;
    margin: 0 0px 0 0;
    padding: 0 0px 0 0;
    display: block;
    float: left;
    width: auto;
}
.apmenu ul ul li {
    z-index: 9;
}
.apmenu li div {
    list-style: none;
    float: left;
    position: absolute;
    z-index: 999;
    top: 50px;
    left: 0;
    visibility: hidden;
	margin: 0px 0 0 0px;
    padding: 0px 0px 8px 0px; 
	display:block;
	
}
.apmenu ul ul {
	z-index: 12;
    padding: 13px 0 0px 0;
    margin: 0px;
	background:#2E302F;
	float:left;
	height: auto;
	left:2px;
}
.apmenu ul ul ul { padding:0;}
.apmenu li:hover>div {
    visibility: visible;
}

.apmenu a {
    position: relative;
    z-index: 10;
    display: block;
    float: left;
    text-decoration: none;
    white-space: nowrap;
    text-align:center;
	color:#fff;
}
.apmenu ul li.current a{
	color:#d600fe;}
.apmenu ul li.current > a{
	color:#ffffff!important;}
.apmenu span {
    background: none;
    display: block;
    cursor: pointer;
	padding:0 15px 0 5px;
    text-align: center;
	line-height:50px;
	text-transform:uppercase;
}
/* sub title */
.apmenu span.name{
	line-height:13px;
	background:none;
	padding-top:9px;}
.apmenu span.title{
	line-height:12px;
	background:none;
	font-size:11px;
	padding:0px 0px 6px 0px;
	margin:0px;}
.apmenu ul ul span.name{
	padding:0px;
	line-height:23px;}
.apmenu ul ul span.title{
	display:none;}
.apmenu a.over span.name,
.apmenu a.over span.title{
	background:none;
	}
.apmenu ul ul a.parent span.name,
.apmenu ul ul a.parent:hover span.name{
	background:none;}

/* menu::level1 */
.apmenu a {
    line-height: 50px;
    background: none;
	font-size:12px;
	font-weight:normal;
	padding:0 15px;
}
.apmenu a:hover{
	 }
	
.apmenu a.over{
	color:#ffffff!important; background:url("images/menuhover2.jpg") no-repeat scroll right top transparent}
.apmenu a.over span{
	}
.apmenu li.first-menu{
	background:none;}
.apmenu li.last { background: none; }

/* menu::level2 */
.apmenu ul ul li {
    background: none;
    padding: 0;
	height:auto;
	display:block;
	vertical-align:top;
}
.apmenu ul li.current ul li a,
.apmenu ul ul a {
    padding: 0px;
    float: none;
    display: block;
    line-height:33px;
    font-size: 12px;
    color: #ffffff;
    white-space: normal;
    margin: 0px;
    text-transform: none;
	width:100%;
	font-weight:normal;
}
.apmenu ul ul a:hover{ color:#0FAFCF}
.apmenu li.HasChild div ul li a span { background:none; color:#ffffff;}
.apmenu ul ul a span {
	margin:0 15px;
	padding:0;
	line-height:32px;
	text-transform: capitalize;	
	border-bottom:1px solid #3B3D3C;
}
.apmenu ul ul img{
	vertical-align:middle;
	padding-right:5px;}
.apmenu li.current ul a,
.apmenu li.current ul a span {
    background:none;
}
.apmenu ul ul a:hover,
.apmenu ul ul a.parent:hover{	color:#fff;}
.apmenu ul li ul li a:hover span {color:#14A2CA;}
.apmenu li li.HasChild{
	background: url(images/menuicon3.gif) no-repeat 95% center; }
.apmenu li li.HasChild:hover {
	background: url(images/menuicon4.gif) no-repeat 95% center #262626; }
 


.apmenu ul ul span {
	
    margin-top: 0;
    text-align: left;
}
.apmenu ul ul li.last { background: none; }
.apmenu ul ul li {
    width:100%;
	line-height:33px;
	display:block;
	min-width:180px;
}
.apmenu li li.HasChild a.over span{ color:#14A2CA;}
.apmenu li li a.over { background:none;}
/* menu::level3 */
.apmenu ul ul div {
    width:100%;
	left:100%;
	top:0px;
	margin:0px;

}
.apmenu ul ul ul { left:1px; 
    
}
.apmenu ul ul div li {
    position:relative;
}

.apmenu ul ul ul div{
	} 
/* lava lamp */
.apmenu li.back {
    height: 50px;
    z-index: 8;
    position: absolute;
    padding: 0px;
	margin:0px;
	display:block!important;
	z-index:-999;
}

.apmenu li.back .left {
    padding:0;
    width:auto;
    height: 55px;
    margin: 0 0 0 36px;
    float: none;
    position: relative;
    top: 0;
    left: 0;
    visibility: visible;
}

/* homepage welcome*/

.home_welcome { width: auto; font-family: times New Roman; font-weight: bold; } 
.home_welcome1 { color: rgb(16, 174, 209); padding: 10px; font-size: 65px; line-height: 30px;}
.home_welcome2 { color: rgb(16, 174, 209); font-size: 40px; padding: 0;}
.home_welcome_r {
    color: #000000;
    font-family: times New Roman;
    font-size: 18px;
    padding: 0 0 10px 29px;
}


